*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans=serif';
  }
  
  .hero{
      background-image: url('/static/images/body_bg.jpg');
      min-height: 100vh;
      width: 100%;
      background-position: center;
      background-size: cover;
      overflow:hidden;
    }
  
  .navbar{
      padding: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between; 
    }
  
  .logo{
    margin-top: 15px;
    margin-left: 30px;
    width: 130px;
    height: 18px;
  }
  .image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    overflow : hidden;
  }
  .image-container h1{
    color: aliceblue;
  }
  .container-1{
    display: flex;
    justify-content:space-between;
  }
  .container-1 img{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    
  }